/* Default styles for larger screens */
.mainwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .mainhome-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
  }
  .imagecontainer-main{
    margin: 20px ;
    border-radius: 5px;
    

  }.item-actions{
    justify-content: space-between;
  }


  .imagecontainer{
    border-radius: 5px;
    width: 100%;
    max-width: 700px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out ;
  }
  .imagecontainer:hover {
    transform: scale(1.04);
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .item-container {
     
    }
  }
  